<!DOCTYPE html>
<html>
<head>
<title>nba leaderboard</title>

<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<%= stylesheet_link_tag "application", :media => "all" %>
</head>

<body>
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Begin page content -->
  <div class="container">
    <div class="page-header">
      <h1>nba leaderboard</h1>
    </div>
    <%= yield %>

    <br />
  </div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit"><%= link_to 'react', 'https://facebook.github.io/react/' %> on <%= link_to 'rails', 'http://rubyonrails.org/' %> proof of concept made with <span class="glyphicon glyphicon-heart"></span> in east van. <%= link_to "code", "https://github.com/arifb/leaderboards-rails-react" %></p>
  </div>
</div>
<% unless params[:js] == "broken" %>
  <%= javascript_include_tag "application" %>
<% end %>
</body>
</html>
